/* reset */

html, body, address, blockquote, del, div, h1, h2, h3, h4, h5, h6, hr, ins, noscript, p, pre, dl, dt, dd, li, ol, ul, table, caption, colgroup, col, thead, tfoot, tbody, tr, td, th, form, button, fieldset, legend, label, select, optgroup, option, textarea, a, bdo, br, img, map, area, object, param, q, script, span, sub, sup, abbr, acronym, cite, code, del, dfn, em, ins, kbd, samp, strong, var, b, big, i, small, tt{border:0;font-family:'Gill Sans';font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
ol, ul{list-style:none;}
th{text-align:left;}
table{border-collapse:collapse;}



/* global */

body 											      {background:#f0f0f0;}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}								{}

table td										    {}

h1												      {font-size:2em; font-weight:bold;}
h2												      {}
h3												      {}
h4												      {}
h5												      {}
h6												      {}

p												        {/*margin: 40px auto;*/ position: relative; font-size:1em; font-weight:normal; margin:20 20 16px 0;}
span												    {}
hr													    {}
label												    {}
input[type=text]								{}
input[type=text]:focus				  {}
input[type=submit]							{}
textarea											  {}

::selection                     {}
::-moz-selection 								{}

/* header */
#header {
    color: #99d8c9;
    text-align: left;
    font-weight: 500;
    font-family: 'Gill Sans';
}

#tutorial {
  position: absolute;
}

#main-title {
  float: left;
}

#beta {
  float: left;
  color: #beabda;
  font-size: 0.5em;
  font-style: italic;
  font-weight: normal;
  vertical-align: top;
  margin: 2px 0 0 6px;
}

#headerbuttons {
  float: right;
}

#about-link {
  color: #dddddd;
  float: right;
  margin-top: 0.6em;
}

/* collapsable tree */
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px;
  font-family: 'Gill Sans';
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* Dashboard */

/* Histogram */

#chartContainer svg {
  display: block;
  margin: auto;
}

/* view finder */

svg {
  font: 10px sans-serif;
}

#chartFinder svg {
  display: block;
  margin: auto;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/* tool tips */

#tooltip {
    font-family: 'Gill Sans';
    font-weight: 400;
    color: steelblue;
    opacity: .9333;
    background: #333;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    z-index: 999;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
}

/* Charts */



/* container */

main												    {position:relative; width:800px;}

#viz												    {background:#fff;}

#viz text											  {font-size:.75em; font-weight:bold;}


/* header */

#header                         {}



/* responsive design css rules */

@media screen and (max-width:480px) {
body 												    {}
}

@media screen and (min-width:480px) and (max-width:800px) {
body                            {}
}

@media screen and (min-width:800px) and (max-width:1024px) {
body                            {}
}



/* misc */

strong											    {font-weight:bold;}
em                              {font-style:italic;}
.cb                             {clear:both;}
